In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
import findspark
findspark.init()

import pyspark
import random


sc = pyspark.SparkContext(appName="Pi")
num_samples = 100000000

def inside(p):     
  x, y = random.random(), random.random()
  return x*x + y*y < 1

count = sc.parallelize(range(0, num_samples)).filter(inside).count()

pi = 4 * count / num_samples
print(pi)

sc.stop()

3.14166648

In [5]:
# conf = (SparkConf()
#  .setMaster("local")
#  .setAppName("My app")
#  .set("spark.executor.memory", "1g")
# sc = pyspark.SparkContext((conf = conf)

In [18]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("FuturesData").config("spark.executor.memory", "5g").getOrCreate()

In [19]:
input_folder = '../../data'

data_files = os.listdir(input_folder)

In [20]:
#df = pd.read_parquet()

In [21]:
sdf = spark.read.parquet(os.path.join(input_folder, data_files[0]))

In [22]:
sdf.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Time: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Vol: long (nullable = true)
 |-- OI: long (nullable = true)
 |-- year: long (nullable = true)
 |-- month: long (nullable = true)
 |-- day: long (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)

In [26]:
sdf.show(50)

+-------------------+-----+-------+-------+-------+-------+---+---+----+-----+---+----+------+
|               Date| Time|   Open|   High|    Low|  Close|Vol| OI|year|month|day|hour|minute|
+-------------------+-----+-------+-------+-------+-------+---+---+----+-----+---+----+------+
|1999-07-01 02:00:00|07:32|3069.25|3069.25|3069.25|3069.25|  1|  0|1999|    7|  1|  07|    32|
|1999-07-01 02:00:00|07:36|3069.25|3069.25|3069.25|3069.25|  1|  0|1999|    7|  1|  07|    36|
|1999-07-01 02:00:00|07:41|3066.25|3066.25|3066.25|3066.25|  1|  0|1999|    7|  1|  07|    41|
|1999-07-01 02:00:00|10:17|3067.25|3067.25|3067.25|3067.25|  1|  0|1999|    7|  1|  10|    17|
|1999-07-01 02:00:00|10:21|3072.25|3072.25|3072.25|3072.25|  1|  0|1999|    7|  1|  10|    21|
|1999-07-01 02:00:00|10:25|3075.25|3075.25|3075.25|3075.25|  1|  0|1999|    7|  1|  10|    25|
|1999-07-01 02:00:00|10:27|3076.75|3076.75|3076.75|3076.75|  1|  0|1999|    7|  1|  10|    27|
|1999-07-01 02:00:00|10:29|3076.25|3076.25|3076.25|3076.25|  1|  0|1999|    7|  1|  10|    29|
|1999-07-01 02:00:00|10:30|3075.75|3075.75|3075.75|3075.75|  1|  0|1999|    7|  1|  10|    30|
|1999-07-01 02:00:00|11:19|3071.25|3071.25|3071.25|3071.25|  1|  0|1999|    7|  1|  11|    19|
|1999-07-01 02:00:00|11:43|3074.25|3074.25|3074.25|3074.25|  1|  0|1999|    7|  1|  11|    43|
|1999-07-01 02:00:00|12:28|3066.25|3066.25|3066.25|3066.25|  1|  0|1999|    7|  1|  12|    28|
|1999-07-01 02:00:00|12:42|3066.75|3066.75|3066.75|3066.75|  1|  0|1999|    7|  1|  12|    42|
|1999-07-01 02:00:00|13:14|3067.25|3067.25|3067.25|3067.25|  1|  0|1999|    7|  1|  13|    14|
|1999-07-01 02:00:00|13:19|3067.75|3069.25|3067.75|3069.25|  2|  0|1999|    7|  1|  13|    19|
|1999-07-01 02:00:00|13:47|3069.75|3069.75|3069.75|3069.75|  1|  0|1999|    7|  1|  13|    47|
|1999-07-01 02:00:00|13:48|3070.25|3070.25|3070.25|3070.25|  1|  0|1999|    7|  1|  13|    48|
|1999-07-01 02:00:00|13:52|3070.75|3070.75|3070.75|3070.75|  1|  0|1999|    7|  1|  13|    52|
|1999-07-01 02:00:00|14:02|3073.25|3073.25|3073.25|3073.25|  1|  0|1999|    7|  1|  14|    02|
|1999-07-01 02:00:00|14:04|3076.75|3076.75|3076.75|3076.75|  1|  0|1999|    7|  1|  14|    04|
|1999-07-01 02:00:00|14:05|3077.25|3077.25|3076.75|3076.75|  2|  0|1999|    7|  1|  14|    05|
|1999-07-01 02:00:00|14:17|3076.25|3076.25|3075.75|3075.75|  2|  0|1999|    7|  1|  14|    17|
|1999-07-01 02:00:00|14:27|3075.25|3075.25|3074.75|3074.75|  2|  0|1999|    7|  1|  14|    27|
|1999-07-01 02:00:00|14:28|3074.25|3074.25|3074.25|3074.25|  1|  0|1999|    7|  1|  14|    28|
|1999-07-01 02:00:00|14:29|3075.25|3075.25|3074.75|3074.75|  2|  0|1999|    7|  1|  14|    29|
|1999-07-01 02:00:00|14:33|3073.25|3073.25|3072.75|3072.75|  2|  0|1999|    7|  1|  14|    33|
|1999-07-01 02:00:00|14:37|3075.25|3075.25|3075.25|3075.25|  1|  0|1999|    7|  1|  14|    37|
|1999-07-01 02:00:00|14:38|3075.75|3075.75|3075.75|3075.75|  1|  0|1999|    7|  1|  14|    38|
|1999-07-01 02:00:00|14:40|3075.75|3075.75|3075.75|3075.75|  1|  0|1999|    7|  1|  14|    40|
|1999-07-01 02:00:00|14:50|3075.75|3075.75|3073.25|3073.25|  2|  0|1999|    7|  1|  14|    50|
|1999-07-01 02:00:00|14:51|3072.25|3072.25|3072.25|3072.25|  1|  0|1999|    7|  1|  14|    51|
|1999-07-01 02:00:00|14:58|3072.75|3072.75|3072.75|3072.75|  1|  0|1999|    7|  1|  14|    58|
|1999-07-01 02:00:00|15:06|3072.25|3072.25|3071.75|3071.75|  2|  0|1999|    7|  1|  15|    06|
|1999-07-01 02:00:00|15:07|3071.25|3072.25|3071.25|3072.25|  4|  0|1999|    7|  1|  15|    07|
|1999-07-01 02:00:00|15:09|3072.25|3072.25|3070.25|3070.25|  3|  0|1999|    7|  1|  15|    09|
|1999-07-01 02:00:00|15:12|3070.75|3072.25|3070.75|3072.25|  3|  0|1999|    7|  1|  15|    12|
|1999-07-01 02:00:00|15:13|3072.25|3072.25|3072.25|3072.25|  2|  0|1999|    7|  1|  15|    13|
|1999-07-01 02:00:00|15:25|3072.25|3072.25|3072.25|3072.25|  1|  0|1999|    7|  1|  15|    25|
|1999-07-01 02:00:00|15:29|3070.25|3070.25|3070.25|3070.25|  1|  0|1999|    7|  1|  15|    29|
|1999-07-01 02:00:00|15:30|3068.25|3068.25|3067.25|3067.25|  4|  0|1999|    7|  1|  15|    30|
|1999-07-01 02:00:00|15:31|3066.75|3071.25|3065.25|3067.25| 17|  0|1999|    7|  1|  15|    31|
|1999-07-01 02:00:00|15:32|3065.75|3065.75|3060.25|3063.25| 15|  0|1999|    7|  1|  15|    32|
|1999-07-01 02:00:00|15:33|3063.25|3064.25|3063.25|3063.25|  4|  0|1999|    7|  1|  15|    33|
|1999-07-01 02:00:00|15:34|3062.75|3063.25|3061.75|3063.25|  8|  0|1999|    7|  1|  15|    34|
|1999-07-01 02:00:00|15:35|3063.75|3064.75|3063.75|3064.25|  7|  0|1999|    7|  1|  15|    35|
|1999-07-01 02:00:00|15:36|3064.25|3064.25|3060.75|3061.25| 12|  0|1999|    7|  1|  15|    36|
|1999-07-01 02:00:00|15:37|3059.75|3060.75|3059.75|3060.25|  5|  0|1999|    7|  1|  15|    37|
|1999-07-01 02:00:00|15:38|3060.75|3061.25|3060.25|3061.25|  5|  0|1999|    7|  1|  15|    38|
|1999-07-01 02:00:00|15:39|3061.25|3063.25|3061.25|3063.25|  5|  0|1999|    7|  1|  15|    39|
|1999-07-01 02:00:00|15:40|3061.75|3062.25|3060.75|3060.75| 10|  0|1999|    7|  1|  15|    40|
+-------------------+-----+-------+-------+-------+-------+---+---+----+-----+---+----+------+
only showing top 50 rows

In [28]:
sdf.limit(5).toPandas()

,Date,Time,Open,High,Low,Close,Vol,OI,year,month,day,hour,minute
0,1999-07-01 02:00:00,07:32,3069.25,3069.25,3069.25,3069.25,1,0,1999,7,1,07,32
1,1999-07-01 02:00:00,07:36,3069.25,3069.25,3069.25,3069.25,1,0,1999,7,1,07,36
2,1999-07-01 02:00:00,07:41,3066.25,3066.25,3066.25,3066.25,1,0,1999,7,1,07,41
3,1999-07-01 02:00:00,10:17,3067.25,3067.25,3067.25,3067.25,1,0,1999,7,1,10,17
4,1999-07-01 02:00:00,10:21,3072.25,3072.25,3072.25,3072.25,1,0,1999,7,1,10,21

In [17]:
df.head()

,Date,Time,Open,High,Low,Close,Vol,OI,year,month,day,hour,minute
0,1999-07-01,07:32,3069.25,3069.25,3069.25,3069.25,1,0,1999,7,1,07,32
1,1999-07-01,07:36,3069.25,3069.25,3069.25,3069.25,1,0,1999,7,1,07,36
2,1999-07-01,07:41,3066.25,3066.25,3066.25,3066.25,1,0,1999,7,1,07,41
3,1999-07-01,10:17,3067.25,3067.25,3067.25,3067.25,1,0,1999,7,1,10,17
4,1999-07-01,10:21,3072.25,3072.25,3072.25,3072.25,1,0,1999,7,1,10,21

In [19]:
df['Date'].min()

Timestamp('1999-07-01 00:00:00')

In [18]:
df['Date'].max()

Timestamp('2020-09-14 00:00:00')